# git
.gitattributes export-ignore
.gitignore export-ignore
.github/ export-ignore

# editors
.editorconfig export-ignore

# composer
composer.lock export-ignore

# node / build sources
package.json export-ignore
package-lock.json export-ignore
node_modules/ export-ignore
kirbyup.config.js export-ignore
src/ export-ignore
